.login-form {
    max-width: 350px;
    margin: 20px auto;
  }
.login-to {
    float: right;
  }
.ant-col-rtl .login-form-forgot {
    float: left;
  }
.login-form-button {
    width: 100%;
  }
.title{
    color: red;
}