.ant-input-group-wrapper{
    width: 80%;
    
}

.sou{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:5px;
    background:#1890ff;
    width: 100%;
    position: fixed;
    top: 0;
    height: 3rem;
}
.ant-input-group-addon>.ant-btn{
    border:none;
    border-radius:0;
}
.ant-btn{
    width: 3rem;
}
.ant-tabs{
    background:#fff;
    margin-top: 6rem;
    width: 100%;
    
}
.ant-tabs-nav{
    background:#fff;
    width: 100%;
    position: fixed !important;
    top: 3rem;
    z-index: 999;
}
.ant-drawer{
    z-index: 9999;
}
.demo-loadmore-list {
  min-height: 350px;
}
.ant-list{
    padding:0 2rem;
}
